// =========================================
//  Partials - Import
// =========================================

@import 'partials/reset',
        'partials/variables',
        'partials/mixins',
        'partials/main-style';

        // =========================================
        //  Debugger
        // =========================================

        section {

            border-style: solid;
            border-width: 1px;
            border-color: red;
        }

        div {

            border-style: solid;
            border-width: 1px;
            border-color: blue;
        }

        img {

            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

        li {

            border-style: solid;
            border-width: 1px;
            border-color: green;
        }

        a {

            border-style: solid;
            border-width: 1px;
            border-color: pink;
        }
