body {
    width: 55%;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: .9fr 2fr;
    grid-gap: 3px;
}

.wrapper-left {
    display: grid;
    grid-template-rows: .9fr .9fr auto .4fr;
    grid-gap: 3px;
    background: #ffbf1c;
}

.wrapper-right {
    display: grid;
    grid-template-rows: 1.25fr 1.25fr 1.25fr .5fr;
    grid-gap: 3px;
}

.introduction {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 3px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    grid-gap: 3px;
}

 header .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 11em;
}

.photo.avatar img{
    border-radius: 100%;
    display: block;
    width: 100%;
}
.left-banner{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #ffdc2a;
    line-height: 1.75;
    overflow: hidden;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #000, #636362 , #000);
    animation: animate 2s linear infinite;

}

@keyframes animate 
{
  0%
  {
    background-position: -50000%;
  } 
  50%
  {
    background-position: 0%;
  } 
  100%
  {
    background-position: 50000%;
  }  
}

.self{
   display:flex;
   justify-content: flex-start;
   align-items: center;
}
.self .self-inner >h1{
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em;
}
.self-inner h1 span{
    color: #ffbf1c;
}
 .self-inner .name-2{
   font-size: 1em;
 }
.info ul li.ad {
    background-image:url(images/icons/icn-ad.gif);
}

.info ul li.mail {
    background-image:url(images/icons/icn-mail.gif);
}

.info ul li.tel {
    background-image:url(images/icons/icn-tel.gif);
}

.info ul li.web {
    background-image:url(images/icons/icn-web.gif);
}

.info ul li.web {
    background-image:;
}
.info ul li {
    background-repeat: no-repeat;
    padding-left:35px;
    background-position: 0 .2em;
    height:20px;
    display:block;
    margin:1.2em auto 1.2em .8em;
}




.social ul {
    list-style: none;
    position: relative;
    top:5%;
    /*transform: translate(-50%,-50%);*/
    margin:0 0 0 4em;
    padding: 0;
   display: flex;
}

.social ul li {
    list-style: none;
    padding: 0;
    margin-left:.7em;
}

.social li a{
    color:#262626;
    background: #ffbf1c;
    width:2.3em;
    height:2.3em;
    display:block;
    text-align: center;
    transform: rotate(-20deg) skew(2deg);
    transition: .5s;
    box-shadow: -.5em .5em .5em rgba(0,0,0,.5);
}

.social li a:before{
    content: '';
    position: absolute;
    background: #b1b1b1;
    top: .25em;
    left: -.4em;
    width: .4em;
    height: 100%;
    transform: rotate(0deg) skewY(-45deg);
    transition: .5s;
}

.social li a:after{
    content: '';
    position: absolute;
    background: #b1b1b1;
    bottom: -.3em;
    left: -.1em;
    width: 100%;
    height: .4em;
    transform: rotate(0deg) skewX(-45deg);
    transition: .5s;
}
.social li a i{
    margin-top:.05em;
}
.social li a i:hover{
    color: #fff;
}

.social ul li:nth-child(1) a:hover{
    background: #1ab7ea;
}
.social ul li:nth-child(2) a:hover{
    background: #55acee;
}
.social ul li:nth-child(3) a:hover{
    background: #0077B5;
}
.social ul li:nth-child(4) a:hover{
    background: #02b875;
}
.social ul li:nth-child(5) a:hover{
    background: #3aaf85;
}
.social ul li:nth-child(6) a:hover{
    background: #ff3300;
}

.hobbies{
    width: 13em;
    height: auto;
    margin:1em auto;
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-gap: 10px;  
}

.swim,.cycling,.table-tennis {
    border-radius: 100%;
    padding: .2em .2em;
}

.swim img,.cycling img,.table-tennis img{
    display:block;
    width: 100%;
    height: auto;
}

