body{
	width:50%;
	margin:auto;
}

#wrapper {
    display: grid;
    grid-template-columns: .9fr 2fr;
    grid-gap: 3px;
}

#wrapper-left {
    display: grid;
    grid-template-rows: .9fr .9fr auto .4fr;
    grid-gap: 3px;
    background: #ffbf1c;
}

#wrapper-right {
    display: grid;
    grid-template-rows: 1.5fr 1.25fr 1.25fr .5fr;
    grid-gap: 3px;
}

.introduction {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 3px;
}
.content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    grid-gap: 3px;
}

 header .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 9em;
}

.photo.avatar img{
    border-radius: 100%;
    display: block;
    width: 100%;
}
.left-banner{
    text-align: center;
    background: black;
    color:#ffdc2a;
    line-height: 1.75;
}