@mixin paragraphs($marg: null,$txt-align: null,$line-ht: null){
    margin: $marg;
    text-align: $txt-align;
    line-height: $line-ht;
   }
.content{
  @include wrap($grid-autorows: auto,$grid-tcol: repeat(3,1fr)){
    margin: 0 auto 4.5% auto;
  }
  &-left{
    grid-column: span 1;
  //  margin: 0;
  }

  &-right{
    grid-column: span 2;
    //margin: 0;

    h3{
      @include content-right-heading($fnt-sze: 1.15em,$lttr-spacing: .3px){
        text-transform: uppercase;
      }
    }
    h4{
      @include content-right-heading($fnt-sze: 1em,$lttr-spacing: .1px){}
    }

    p{
      @include paragraphs($marg: 1.5% 1.5%,$txt-align: left,$line-ht:1.4em !important);

     }
  }
}

.contents{
  @include wrap($grid-autorows: auto,$grid-tcol: repeat(2,auto)){
    margin: 0 auto 4.5% auto;
  }
  &-ref{
    grid-column: span 1;
    margin: 0;

    p{
      @include paragraphs($marg: 1.5% 1.5%,$txt-align: left,$line-ht:1.4em !important);
      }
  }
}
