// =========================================
//  Varibles
// =========================================

$white: #FFF;
$black: #000;

$left-section-background: #ffbf1c; //yellow
$info-section-background: orange; //orange
$hobbies-onclick-color: #ffee10; //light yellow
$banner-left-text: #ffdc2a;  //shade of yellow
$soc-btn-sides: #b1b1b1; //light grey
$contact-icons: #331a00;//dark coffee
$font-stack-primary: 'Roboto',sans-serif;

$animation-banner: -2500%;

//map for social buttons - hover
$social: (
  'facebook': #1ab7ea,
  'twitter': #55acee,
  'linkedin': #0077B5,
  'github': #02b875,
  'print': #3aaf85,
  'contact': #ff3300,
);
