// =========================================
//  Partials - Import
// =========================================

@import 'partials/utilities/variables',
        'partials/utilities/mixins',
        'partials/base/reset',
        'partials/base/base',
        'partials/layout/header',
        'partials/components/banner',
        'partials/layout/contact',
        'partials/layout/about-me',
        'partials/layout/footer',
        'partials/components/hobby-btn',
        'partials/layout/intro',
        'partials/components/social',
        'partials/components/heading-sec',
        'partials/layout/education';

        // =========================================
        //  Debugger
        // =========================================

        section {
         border-style: solid;
         border-width: 1px;
         border-color: red;
        }
        div {
            border-style: solid;
            border-width: 1px;
            border-color: blue;
        }

        img {
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

        li {
            border-style: solid;
            border-width: 1px;
            border-color: green;
        }

        a {
            border-style: solid;
            border-width: 1px;
            border-color: pink;
        }
