// CSS Styling of the Contact Section of the CV

// Dividing up the space of "UL" into equal dimension grid rows for "LI" elements
.info {

   ul {
      @include wrap($grid-trow: repeat(5,auto)){
      height: auto;
      overflow: hidden;
      }
      li {
         font-weight: bold;
         background-color: $info-section-background;
         //background-repeat: no-repeat;
         //padding-left: 30%;
         //background-position: .7em .8em;;
         margin: 0;
         height: 95%;
         width: 100%;
         display: flex;
         flex-direction: rows;
         //Changing styles of li on hover
         &:hover {
              background-color: rgba($white,0.4);
             }

         p{
           width:70%;
           height: 100%;
           padding-bottom: 5%;
           font-size: 1.05em;
           line-height: .9em;
           text-align: left;
           color: $contact-icons;

         }
         i{
           width:20%;
           height:70%;
           margin-top: 5%;
           margin-left: 7.5%;
           color: $contact-icons;
         }
      }
     }
  }
  // contact-new and contct-reverse Class is used in toggleClass - Jquery . The styling of "li" is changed on click

  .contact-new{
    @include contact-click($back-col:$white !important,
                           $transform: scale(1.1) rotateX(360deg) translate(0, 0),
                           $transition: .5s ease-in-out)
  }
  .contact-reverse{
    @include contact-click($back-col:$info-section-background !important,
                           $transform: scale(1) rotateX(0deg) translate(0, 0),
                           $transition: .5s ease-in-out)
  }
