// Css Styling of the Right Section of the CV - Section-Education

.education {
  display: grid;
  grid-template-rows: 20% repeat(2,auto);
  margin-bottom: 0;
}

.experience {
    display: grid;
    grid-template-rows: 20% repeat(3,auto);
    margin-bottom: 0;
}
