// Css Styling of the Right Section of the CV - Section-Education

.education {
    @include wrap($grid-trow: 20% repeat(2,auto),$grid-tcol: 3)
}


.experience {
    display: grid;
    grid-template-rows: 20% repeat(3,auto);
}
.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
