// Dividing the Self Section and Social Section into grids

.introduction {
    display: grid;
    grid-template-columns: 1.7fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.social {
  grid-row: 1;
  grid-column: span 2;
}

// Css Styling of the Right Section of the CV - Section Self

.self {
  grid-row: 2;
  grid-column: span 2;
  @include centred;

    .self-inner {

       h1 {
         @include heading-name($left-section-background,0);

       }

      h2 {
        @include heading-name($black,5%);
      }

     .name-2 {
        font-size: 1.2em  !important;
        font-weight: 550  !important;
        line-height: 1.5em !important;
        display: none;

        span {
          text-decoration: underline !important;
        }

    }

  }

}
