// CSS Styling of the banners "Contact" "About Me" Hobbies" along with Animation

.left-banner{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $banner-left-text;
    text-shadow: -1px 0 1px black, 0 1px 1px $black, 1px 0 1px $black, 0 -1px 1px $black;
    line-height: 1.75;
    overflow: hidden;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #000, #CA870A , #000);
    animation: animate 1s linear infinite;

 }
 @keyframes animate {

  0%
  {
    background-position: -5000%;
  }
  25%
  {
    background-position: -2500%;
  }
  50%
  {
    background-position: 0%;
  }

  75%
  {
    background-position: 2500%;
  }
  100%
  {
    background-position: 5000%;
  }
}
