body {
  width: 55%;
  margin: auto;
}

.wrapper {
  @include wrap($grid-tcol: 230px 30px auto 30px) {
  }
  //Css Styling of the left Section of the CV
  &-left {
    @include wrap($grid-trow: 1fr auto 2fr auto) {
    grid-column: 1/2;
    background: $left-section-background;
    }
  }
  // Css Styling of the Right Section of the CV
  &-right {
    @include wrap( $grid-trow: 1fr repeat(3, auto)){
    grid-column: 3/4;
    }
  }
}
